/* 
============ global ============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* 
============ typography ============
*/

body {
  font-family: 'Roboto Slab', serif;
  line-height: 1.6;
  font-size: 1rem;
  background-color: aliceblue;
}

.small-font {
  font-size: .625rem;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: 2px;
}

.underline {
  text-decoration: underline;
}

.strong {
  font-weight: 800;
}

/* 
============ body header ============
*/

.body-header {
  background-color: #1F2A30;
  color: white;
  padding-block: .25em;
}

.body-header-contact-info {
  text-align: center;
  opacity: .85;
}

.body-header-links {
  opacity: .8;
}

.body-header-links:hover,
.body-header-links:focus {
  opacity: 1;
}

/* 
============ splash container ============
*/

.splash-container {
  text-align: center;
}

  /* -- splash header -- */

  .splash-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding: .75em;
  }

  .splash-title-container {
    line-height: 1em;
  }  

  .splash-title-text {
    line-height: 1em;
  }

  .splash-header-link-container {
    justify-content: space-around;
    margin-top: .8em;
  }

  .splash-header-links {
    font-weight: 700;
    color: #636363;
    transition: .5s
  }

  .splash-header-links:hover,
  .splash-header-links:focus {
    color: black;
  }

  .current {
    border-bottom: 2px solid black;
    color: black;
    cursor: default;
  }

  /* -- splash content container -- */

  .splash-content-container {
    flex-direction: column;
  }

  .splash-content {
    text-align: left;
    margin-inline: 1em;
    flex-direction: column;
  }

  .splash-content-title {
    line-height: 1.1em;
    margin-block: .75em;
  }

  .splash-content-link-container {
    gap: 1.5em;
    margin-block: 1.5em 2em;
    flex-wrap: wrap;
    }
  

  .splash-content-link,
  .services-button {
    display: block;
    background-color: #688CCD;
    padding: .5em 2.5em;
    border-radius: 4px;
    font-weight: 400;
    letter-spacing: .05em;
    cursor: pointer;
    transition: .5s
  }

  .splash-content-link:hover,
  .splash-content-link:focus {
    opacity: .8;
  }

/* 
============ main container ============
*/

  /* -- main container two -- */

  .main-container-two {
    text-align: center;
    margin-block: 4em;
    padding: 3em 2em;
    background-color: #688CCD;
    color: white;
  }

  .main-container-two-title {
    line-height: 1em;
    margin-bottom: 1em;
  }

  .main-container-two-summary {
    font-weight: 300
  }

  /* -- main container one -- */

  .main-container-one {
    grid-template-columns: 1fr;
    margin-top: 2em;
    margin-right: .5em;
    margin-left: .5em;
    max-width: 80em;
    margin-inline: auto;
  }

  .main-container-one a {
    margin-bottom: 2em;
  }

  .success-stories-container,
  .faq-container {
    background-color: #e6e6e6;
    transition: transform 1s;
    color: black;
    height: 100%;
  }

  .success-stories-container:hover,
  .success-stories-container:focus,
  .faq-container:hover,
  .faq-container:focus {
    opacity: .9;
  }

  .content-container {
    padding: 1em;
  }

  .success-stories-title,
  .faq-title {
    color: #688CCD;
    line-height: 1em;
    margin-bottom: .8em;
  }

  .reviewer {
    text-align: right;
    margin-top: .9em;
    margin-right: 2em;
  }

  .success-stories-img,
  .faq-img {
    width: 100%;
  }

  /* -- main container three -- */
  
  .main-container-three {
    flex-direction: column;
    text-align: center;
    max-width: 80em;
    margin-inline: auto;
    margin-bottom: 2em;
  }

  .main-container-three-title {
    text-align: center;
    margin-bottom: 2em;
    margin-top: .7em;
  }

  .main-container-three-article-container {
    flex-direction: column;
  }

  .article-title {
    color: #688CCD;
    line-height: 1em;
    margin-bottom: .8em;
  }

  .article-text {
    margin-top: .9em;
    padding-bottom: 1em;
    padding-inline: 1em;
  }

  .success-stories-img,
  .faq-img {
    width: 100%;
  }

  .services-button {
    display: block;
    background-color: #688CCD;
    padding: .5em 2.5em;
    border-radius: 4px;
    font-weight: 400;
    letter-spacing: .05em;
    cursor: pointer;
    transition: .5s;
    max-width: 98%;
    margin-inline: auto;
  }
  
  .services-button:hover,
  .services-button:focus  {
    opacity: .8;
  }

/* 
============ body footer ============
*/

.footer-cite-link-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1.5em 2em;
}

.footer-cite-links {
  font-weight: 700;
  font-family: serif;
  opacity: .9;
}

.footer-cite-links:hover,
.footer-cite-links:focus {
  opacity: 1;
}

.footer-svg-link-container {
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 1.5em 2em;
  border-top: 1px solid grey;
  margin-inline: auto;
  max-width: 90%;
}

.icon {
  opacity: .7;
}

.icon:hover,
.icon:focus {
  opacity: 1;
  cursor: pointer;
}

.body-footer {
  background-color: #1F2A30;
  color: white;
  text-align: center;
  padding-block: 2em;
}

.codex-footer {
  padding: 1.75em 2em;
  border-top: 1px solid grey;
  margin-inline: auto;
  max-width: 90%;
  opacity: .7;
}

.body-footer-links {
  color: white;
  opacity: .7;
}

.body-footer-links:hover,
.body-footer-links:focus {
  opacity: 1;
}

.svg-container {
  order: -1;
  padding: 1em;
  align-self: center;
}

.ionicon {
  width: 4em;
}

.services-article {
  margin-bottom: 2em;
  background-color: #e6e6e6;
}

.article-title {
  color: #688CCD;
}

.article-image {
  width: 100%;
}

/* 
============ media queries ============
*/

@media (min-width: 681px) {

  .body-header {
    padding-inline: 1.75em;
  }

  .body-header-contact-info {
    text-align: right;
  }

  .splash-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    padding: 1em 5em;
    max-width: 80em;
    margin-inline: auto;
  }

  .splash-title-container {
    text-align: left;
  }

  .splash-header-link-container {
    gap: 3em;
    margin-top: initial;
  }

  .splash-content-container {
    flex-direction: row;
  }

  .splash-content-img {
    display: none;
  }

  .splash-content-container {
    background-image: url(./img/me-three.JPG);
    background-position: center;
    background-size: cover;
    height: 45em;
    max-width: 80em;
    margin-inline: auto;
  }

  .splash-content {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    justify-content: center;
    padding-inline: 3em;
  }

  .splash-content-title,
  .splash-content-info {
    color: white;
  }

  .splash-content-info {
    font-weight: 300;
  }

  .main-container-one {
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }

  .success-stories-container:hover,
  .success-stories-container:focus,
  .faq-container:hover,
  .faq-container:focus {
    cursor: pointer;
    transform: scale(1.05);
  }

  .small-font {
    font-size: .8rem;
  }

  .footer-cite-link-container {
    flex-direction: row;
    gap: 5em;
  }

  .footer-svg-link-container,
  .codex-footer {
    max-width: 600px;
  }

  .main-container-two {
    margin-inline: auto;
  }

  .main-container-two-summary {
    max-width: 60em;
    margin-inline: auto;
  }

  .services-article {
    background-color: white;
    flex: 1;
  }

}

@media (min-width: 850px) {
  
  .main-container-three-article-container {
    gap: 1em;
    flex-direction: row;
  }

}